.info{
  display: inline-block;
  .ore,.power,.click-number{
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 35px;
    color: #F0F0F0;
    &.iron{
      background: grey;
    }
    &.carbon{
      background: #1D1D1D;
    }
    &.silicon{
      background: tomato;
    }
    &.power{
      background: #e2c800;
    }
  }

  .click-number{
    background: #cbcbcb;
  }
}

.autoclickers-info{
  display: inline-block;
  vertical-align: top;

  .info{
    display: block;
    width: 50px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #F0F0F0;
    font-size: 35px;
    margin: 10px 0px;

    &.info-iron{
      background: grey;
    }
    &.info-carbon{
      background: #1D1D1D;
    }
    &.info-silicon{
      background: tomato;
    }
    &.info-power{
      background: #e2c800;
    }
  }
}

.autoclickers{
  display: inline-block;
  vertical-align: top;
  .autoclicker{
    display: block;
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    color: #F0F0F0;
    font-size: 40px;

    &.autoclicker-iron{
      background: grey;
    }
    &.autoclicker-carbon{
      background: #1D1D1D;
    }
    &.autoclicker-silicon{
      background: tomato;
    }
    &.autoclicker-power{
      background: #e2c800;
    }
  }
}

.cursor{
  width: 30px;
  height: 30px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
}


.targets{
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  width: 10vw;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 300px;
  .target{
    width: 50px;
    height: 50px;
    margin: 10px 0px;
    &.iron-target{
      background: grey;
    }
    &.carbon-target{
      background: #1D1D1D;
    }
    &.silicon-target{
      background: tomato;
    }
  }
}

.indication{
  position: absolute;
  width: 100px;
  height: 100px;
}