@charset 'UTF-8';
@import 'normalize';

$color-txt : #EAEAEA;
$duration : 0.3s;

@font-face {
  font-family: 'Ailerons';
  src: url('../fonts/Ailerons-Regular.eot');
  src: url('../fonts/Ailerons-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Ailerons-Regular.woff') format('woff'),
    url('../fonts/Ailerons-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow: hidden;
}

body {
  font-family: 'Ailerons';
  color: $color-txt;
  user-select: none;
  background-color: #0e0e16;
}

.stars {
  position: fixed;
  width: 100%;
  height: 3000px;
  bottom: 40%;
  background-image: url('../img/stars_speed.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 20;
  &--anim {
    animation: stars_anim 5s 2.2s linear infinite;
  }
  @keyframes stars_anim {
    0% {transform: translateY(0);}
    100% {transform: translateY(50%);}
  }
}

.sky {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient( 180deg, #0e0e16, #343356 );
  z-index: 10;
  &--anim {
    animation: sky_anim 2s 1s cubic-bezier(.71,.06,.98,.46) forwards;
  }
  @keyframes sky_anim {
    from {transform: translateY(0);}
    to {transform: translateY(100%);}
  }
  &--star {
    position: absolute;
    top: 20px;
    left: 0;
  }
}

.menu {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 310px;
  height: 80%;
  background-color: rgba(#777,.5);
  border: 6px solid #282828;
  border-radius: 15px;
  padding-top: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 30;
  &--anim {
    animation: menu_anim 2.5s forwards;
  }
  @keyframes menu_anim {
    from {transform: translateX(0);}
    to {transform: translateX(-400px);}
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &--item {
    height: 60px;
    position: relative;
    display: block;
    padding-left: 15px;
    color: $color-txt;
    transition-property: background;
    transition-duration: $duration;
    &::after {
      content: '';
      display: block;
      height: 2px;
      width: 265px;
      background-color: #373636;
      position: absolute;
      bottom: 0;
      left: 15px;
    }
    &:hover {
      background-color: #BA3525;
    }
    &--place {
      height: 300px;
    }
    &--img {
      margin-top: 10px;
      height: 40px;
      display: inline-block;
    }
    &--title {
      font-family: helvetica, sans-serif;
      font-weight: bold;
      font-size: 11px;
      text-transform: uppercase;
      position: absolute;
      top: 11px;
      width: 200px;
      left: 85px;
      &--lvl {
        position: absolute;
        text-transform: lowercase;
        font-size: 12px;
        right: 10px;
        color: #e7e6e4;
      }
    }
    &--resources {
      height: 20px;
      position: absolute;
      left: 85px;
      bottom: 12px;
      width: 250px;
      &--fer, &--silicium, &--carbon {
        display: inline-block;
        &--img {
          width: 15px;
        }
        &--price {
          font-size: 18px;
        }
      }
    }
  }
}

.popup {
  position: fixed;
  left: 326px;
  width: 330px;
  top: 0px;
  height: 80%;
  padding-top: 5px;
  z-index: 1000;
  &--item {
    font-family: helvetica, sans-serif;
    background-color: rgba(#777,.5);
    border: 6px solid #282828;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 75px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
  }
}

.rocket {
  position: fixed;
  bottom: 140px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  z-index: 90;
  &--anim {
    animation: rocket_anim 3s 1s cubic-bezier(.66,.06,.42,.99) forwards;
  }
  @keyframes rocket_anim {
    from {transform: translateY(0);}
    to {transform: translateY(-100px);}
  }
  &--fuselage {
    width: 100%;
  }
  &--flame {
    position: absolute;
    width: 26px;
    z-index: -1;
    left: 12px;
    bottom: -32px;
    transform-origin: 0 0;
    transform: scaleY(1.3);
    display: none;
    &--anim {
      animation: rocket_flame_anim 1s infinite;
      display: block;
    }
    @keyframes rocket_flame_anim {
      0% {transform: scaleY(1.3);}
      60% {transform: scaleY(1.9);}
      100% {transform: scaleY(1.3);}
    }
  }
  &--wing {
    z-index: -1;
    top: 190px;
    position: absolute;
    width: 120px;
    left: -35px;
  }
}

.mountain {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 50;
  &--anim {
    animation: mountain_anim 2s 1s cubic-bezier(.71,.06,.98,.46) forwards;
  }
  @keyframes mountain_anim {
    from {transform: translateY(0);}
    to {transform: translateY(500px);}
  }
}

.distance {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
  z-index: 100;
  &--title {
    font-size: 35px;
    text-align: center;
  }
}

.resources {
  position: fixed;
  left: 70px;
  bottom: 25px;
  z-index: 100;
  &--item {
    margin-top: 10px;
    &--img {
      width: 35px;
      display: inline-block;
    }
    &--score {
      font-size: 30px;
      display: inline-block;
      position: relative;
      left: 20px;
      bottom: 10px;
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -6px;
        left: -17px;
        right: 5px;
        height: 2px;
        background-color: $color-txt;
      }
    }
  }
}

.energy {
  position: fixed;
  top: 10%;
  right: 60px;
  z-index: 100;
  &--logo {
    width: 35px;
  }
  &--bar {
    width: 13px;
    margin-top: 20px;
    margin-left: 10px;
    height: 300px;
    border: 2px solid #686868;
    border-radius: 13px;
    position: relative;
    overflow: hidden;
    &--full {
      background-color: #FECE48;
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
      transform-origin: 100% 100%;
      transform: scaleY(0);
      transition: transform 0.3s linear;
      will-change: transform;
    }
  }
  &--value {
    position: absolute;
    left: 50%;
    top: 400px;
    margin-left: -150px;
    width: 300px;
    font-size: 25px;
    text-align: center;
  }
}

.particles-container {
  position: relative;
  z-index: 10000;
  .multiplier p {
    font-family: 'Ailerons';
    font-size: 70px;
  }
}
